body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

/* #5F9341 */

input {
    width: 100%;
    margin-bottom: 2px;
    border: solid 1px #5F9341;
    padding: 15px;
}

button {
    font-weight: bold;
    margin-top: 2px;
    background-color: #5F9341;
    border: none;
    color: white;
    padding: 10px 20px;
}

#delete-btn {
    background-color: white;
    color: #5F9341;
    border: solid 1px #5F9341;
}

button:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

li a {
    margin-top: 5px;
}

a {
    color: #5F9341;
}